#click-button{
	background-color: #4CAF50; /* Green background */
    color: white; /* White text color */
    padding: 10px 20px; /* Vertical and horizontal padding */
    border: none; /* No border */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px;
}